.master-bg-color{
    background-color: #fbeae9;
}
.master-bg-color1{
    background-color: #ffa501;
}
.master-bg-color2{
    background-color: #da70d6;
}
.master-bg-color3{
    background-color:#0000ff;
}
.categories img{
    width:100px;
}
.master-btn{
    background-color:#ff4891 ;
}