.panda-bg-info{
    background-color:#fceae8;
}
.categories img{
    width: 100px;
}
#panda-bg-shoe1{
    background-color: #FFA501;
}
#panda-bg-shoe2{
    background-color: #da70d6;
}
#panda-bg-shoe3{
    background-color:#00f;
}
.panda-btn-now{
    background-color: #ff4891;
    color:white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}